<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <record id="stock.menu_routes_config" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_pickingtype" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_storage_categoty_capacity_config" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_putaway" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_action_rules_form" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_product_category_config_stock" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_reordering_rules_config" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="stock.menu_wms_barcode_nomenclature_all" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <menuitem id="menu_product_variant_config_stock" name="设备类型" action="product.product_category_action_form"
                  parent="stock.menu_stock_inventory_control" sequence="2"/>

        <record id="stock.menu_stock_root" model="ir.ui.menu">
            <field name="name">仓库</field>
        </record>
        <record id="stock.stock_picking_type_action" model="ir.actions.act_window">
            <field name="name">待办</field>
        </record>
        <record id="account.menu_finance" model="ir.ui.menu">
            <field name="name">财务</field>
        </record>

        <record id="account.account_invoicing_menu" model="ir.ui.menu">
            <field name="name">财务</field>
        </record>

        <record id="stock.menu_warehouse_report" model="ir.ui.menu">
            <field name="name">库存</field>
        </record>

        <record id="stock.menu_product_variant_config_stock" model="ir.ui.menu">
            <field name="name">设备管理</field>
        </record>

        <record id="stock.menu_stock_inventory_control" model="ir.ui.menu">
            <field name="name">设备</field>
        </record>

        <record id="account.account_management_menu" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="account.product_product_menu_purchasable" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="account.product_product_menu_sellable" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <record id="sale.menu_product_template_action" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>

        <record id="stock.menu_stock_config_settings" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, False, [ref('lamp_order.group_menu_field_invisible')])]"/>
        </record>
        <menuitem id="menu_warehouse_manage_config" name="仓库管理" parent="stock.menu_stock_root"
                  sequence="99"/>
        <menuitem id="menu_warehouse" name="仓库" action="stock.action_warehouse_form"
                  parent="menu_warehouse_manage_config" sequence="1"/>
        <menuitem id="menu_location" name="位置" action="stock.action_location_form"
                  parent="menu_warehouse_manage_config" sequence="2"/>
    </data>
</odoo>
